@import url("https://fonts.googleapis.com/css2?family=Goblin+One&family=Newsreader:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.fontOne-light {
  font-family: "Newsreader", serif;
  font-weight: 300; }

.fontOne-regular {
  font-family: "Newsreader", serif;
  font-weight: 400; }

.fontOne-bold {
  font-family: "Newsreader", serif;
  font-weight: 700; }

.text-sm {
  font-size: 1.2em; }

.text-md {
  font-size: 16px; }

.text-lg {
  font-size: 40px; }

.text-xl {
  font-size: 26px; }

.header__portada {
  background-color: #22134a; }
  .header__portada .portada1 {
    font-family: "Newsreader", serif;
    font-style: italic;
    font-weight: bold;
    color: #c40000;
    text-shadow: 2px 2px #ffffff;
    text-decoration: none; }
    @media (min-width: 1024px) {
      .header__portada .portada1 {
        font-size: 5.2em;
        height: 16vh;
        margin-top: 3vh;
        margin-left: 2vh; } }
    @media (max-width: 1024px) {
      .header__portada .portada1 {
        font-size: 4em;
        height: 10vh;
        margin-left: 2vh;
        margin-bottom: -0.8vh; } }
    @media (max-width: 768px) {
      .header__portada .portada1 {
        font-size: 3.5em;
        height: 10vh;
        margin-top: 1vh; } }
    @media (max-width: 576px) {
      .header__portada .portada1 {
        font-size: 1.4em;
        height: 10vh;
        margin-top: 0.8em;
        margin-bottom: -0.6em; } }
  .header__portada .portada2 {
    background-image: url("../images/header2.jpg");
    background-repeat: no-repeat;
    background-size: contain; }
    @media (min-width: 1024px) {
      .header__portada .portada2 {
        height: 16vh; } }
    @media (max-width: 1024px) {
      .header__portada .portada2 {
        height: 10vh; } }
    @media (max-width: 768px) {
      .header__portada .portada2 {
        height: 10vh;
        margin-bottom: 1vh; } }

.header__navbar {
  background-color: #c40000 !important; }
  .header__navbar #navbarDropdown {
    color: #ffffff !important; }
  .header__navbar #navbarDropdown:hover {
    color: #22134a !important; }
  .header__navbar .dropdown-item {
    color: black !important; }
    .header__navbar .dropdown-item:hover {
      background-color: #22134a !important;
      color: #ffffff !important;
      font-weight: bold;
      transform: scale(1.2); }
  .header__navbar #contactoItem {
    color: #ffffff; }
    .header__navbar #contactoItem:hover {
      color: #22134a; }
  .header__navbar .navbar-toggler {
    background-color: #ffffff !important;
    border: 1px solid #22134a; }
    .header__navbar .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(34, 19, 74, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  .header__navbar ul {
    font-family: "Newsreader", serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5; }

h1 {
  width: 100vw;
  font-family: "Goblin One", serif;
  font-size: 50px !important;
  color: #22134a !important;
  text-align: center;
  text-decoration: underline; }
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 30px !important; } }

h2 {
  color: #c40000;
  font-family: 'Newsreader', serif;
  font-size: 25px; }

h3 {
  font-family: 'Newsreader', serif;
  font-style: italic;
  font-size: 30px; }

.titulo {
  width: 100vw;
  font-family: "Goblin One", serif;
  font-size: 50px !important;
  color: #22134a !important;
  text-align: center;
  text-decoration: underline; }
  @media only screen and (max-width: 480px) {
    .titulo {
      font-size: 30px !important; } }

ul {
  color: #c40000;
  font-family: 'Newsreader', serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5;
  list-style-image: url("../images/atomitovioleta.png");
  list-style-position: inside; }
  @media only screen and (max-width: 480px) {
    ul {
      font-size: 18px;
      padding: 0px; } }

thead {
  font-family: 'Goblin One', serif;
  color: #22134a;
  background-color: grey;
  font-weight: bold;
  text-align: center; }

.sobreMi {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center; }

.sobreMi__bio {
  margin-left: 10px;
  font-family: "Newsreader", serif;
  font-style: italic;
  /*font-weight: reg;*/
  color: black;
  font-size: 30px;
  text-align: left;
  line-height: 1.5; }
  .sobreMi__bio span {
    font-weight: bold; }
  @media only screen and (max-width: 768px) {
    .sobreMi__bio {
      font-size: 1.2em; } }
  @media only screen and (max-width: 480px) {
    .sobreMi__bio {
      font-size: 1.2em; } }

.sobreMi__miFoto {
  background-image: url("../images/ich.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 500px;
  min-width: 500px;
  border-radius: 50rem !important; }
  @media only screen and (max-width: 480px) {
    .sobreMi__miFoto {
      min-width: 300px;
      min-height: 300px; } }

.clasesYoutube {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px; }
  @media only screen and (max-width: 480px) {
    .clasesYoutube {
      margin: 5px 0;
      width: 100%; } }

.clasesYoutube__ultimasClases {
  font-family: 'Newsreader', serif;
  color: black;
  font-size: 18px;
  font-weight: bold;
  background-image: url("../images/ciencia.jpg");
  text-align: left; }
  @media only screen and (max-width: 480px) {
    .clasesYoutube__ultimasClases {
      font-size: 0.7em; } }

.clasesYoutube__videoYoutube iframe {
  text-align: center; }
  @media only screen and (max-width: 480px) {
    .clasesYoutube__videoYoutube iframe {
      width: 100% !important;
      height: 350px !important; } }

.experiencia__colegios {
  color: #c40000;
  font-family: "Newsreader", serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 5px; }
  @media only screen and (max-width: 480px) {
    .experiencia__colegios {
      font-size: 16px;
      padding-left: 0%; } }

.experiencia__et31 {
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  min-width: 1000px;
  border: 10px;
  border-style: solid;
  border-color: #22134a; }
  .experiencia__et31 .fotoEt31 {
    background-image: url("../images/et31.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 100px;
    min-width: 100px;
    border: 5px solid #c40000; }
  @media only screen and (max-width: 480px) {
    .experiencia__et31 {
      min-width: 350px;
      justify-content: center;
      text-align: center; } }

.experiencia__et15 {
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  min-width: 1000px;
  border: 10px;
  border-style: solid;
  border-color: #22134a; }
  .experiencia__et15 .fotoEt15 {
    background-image: url("../images/et15.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 100px;
    min-width: 100px;
    border: 5px solid #c40000; }
  @media only screen and (max-width: 480px) {
    .experiencia__et15 {
      min-width: 350px;
      justify-content: center;
      text-align: center; } }

.experiencia__et27 {
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  min-width: 1000px;
  border: 10px;
  border-style: solid;
  border-color: #22134a; }
  .experiencia__et27 .fotoEt27 {
    background-image: url("../images/et27.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 100px;
    min-width: 100px;
    border: 5px solid #c40000; }
  @media only screen and (max-width: 480px) {
    .experiencia__et27 {
      min-width: 350px;
      justify-content: center;
      text-align: center; } }

.experiencia__et5 {
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  min-width: 1000px;
  border: 10px;
  border-style: solid;
  border-color: #22134a; }
  .experiencia__et5 .fotoEt5 {
    background-image: url("../images/et5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 100px;
    min-width: 100px;
    border: 5px solid #c40000; }
  @media only screen and (max-width: 480px) {
    .experiencia__et5 {
      min-width: 350px;
      justify-content: center;
      text-align: center; } }

.experiencia__et1 {
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  min-width: 1000px;
  border: 10px;
  border-style: solid;
  border-color: #22134a; }
  .experiencia__et1 .fotoEt1 {
    background-image: url("../images/et1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 100px;
    min-width: 100px;
    border: 5px solid #c40000; }
  @media only screen and (max-width: 480px) {
    .experiencia__et1 {
      min-width: 350px;
      justify-content: center;
      text-align: center; } }

.experiencia__listaTitulos {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  min-width: 1000px;
  border: 20px solid #22134a; }
  .experiencia__listaTitulos .atomoVioleta {
    background-image: url("../images/atomovioleta.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    min-width: 200px;
    border: 5px solid #c40000; }
    @media only screen and (max-width: 480px) {
      .experiencia__listaTitulos .atomoVioleta {
        min-height: 320px;
        min-width: 320px;
        border: 10px solid #c40000; } }
  .experiencia__listaTitulos .chemie {
    background-image: url("../images/chemie.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    min-width: 200px;
    border: 5px solid #c40000; }
    @media only screen and (max-width: 480px) {
      .experiencia__listaTitulos .chemie {
        min-height: 320px;
        min-width: 320px;
        border: 10px solid #c40000; } }
  @media only screen and (max-width: 480px) {
    .experiencia__listaTitulos {
      min-width: 350px;
      justify-content: center;
      margin: 0; } }

.servicios__cursos {
  margin-left: 10px;
  font-family: "Newsreader", serif;
  font-style: italic;
  color: black;
  font-size: 30px;
  text-align: left;
  line-height: 1.5;
  max-width: 1100px; }
  @media only screen and (max-width: 480px) {
    .servicios__cursos {
      font-size: 18px;
      text-align: justify;
      margin: 5%; } }

.servicios__apoyoCursos {
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/ciencia.jpg");
  min-width: 1000px;
  min-height: 200px;
  border: 20px;
  border-style: solid;
  border-color: #22134a; }
  @media only screen and (max-width: 480px) {
    .servicios__apoyoCursos {
      margin: 0%;
      min-width: 300px;
      justify-content: center; } }

.servicios__bond {
  background-image: url("../images/bond.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  min-width: 200px;
  border: 5px solid #c40000; }
  @media only screen and (max-width: 480px) {
    .servicios__bond {
      min-height: 320px;
      min-width: 320px;
      border: 10px solid #c40000; } }

.servicios__water {
  background-image: url("../images/water.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  min-width: 200px;
  border: 5px solid #c40000; }
  @media only screen and (max-width: 480px) {
    .servicios__water {
      min-height: 320px;
      min-width: 320px;
      border: 10px solid #c40000; } }

.servicios__aromatic {
  background-image: url("../images/aromatic.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  min-width: 200px;
  border: 5px solid #c40000; }
  @media only screen and (max-width: 480px) {
    .servicios__aromatic {
      min-height: 320px;
      min-width: 320px;
      border: 10px solid #c40000; } }

.servicios__organic {
  background-image: url("../images/organic.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  min-width: 200px;
  border: 5px solid #c40000; }
  @media only screen and (max-width: 480px) {
    .servicios__organic {
      min-height: 320px;
      min-width: 320px;
      border: 10px solid #c40000; } }

.servicios__flask {
  background-image: url("../images/flask.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  min-width: 200px;
  border: 5px solid #c40000; }
  @media only screen and (max-width: 480px) {
    .servicios__flask {
      min-height: 335px;
      min-width: 335px;
      border: 20px solid #c40000; } }

.servicios__contacto {
  color: #ffffff;
  font-weight: bold; }
  .servicios__contacto:hover {
    background-color: #22134a !important;
    color: #ffffff !important;
    text-decoration: none; }
  .servicios__contacto:active {
    color: #c40000 !important;
    font-size: 32px; }
    @media only screen and (max-width: 480px) {
      .servicios__contacto:active {
        font-size: 20px; } }

.servicios__botonContacto {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #c40000;
  color: #ffffff;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease-in-out; }
  .servicios__botonContacto:hover {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.contacto__caja {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/ciencia.jpg");
  max-width: 1100px;
  min-height: 200px;
  border: 20px;
  border-style: solid;
  border-color: #22134a; }
  @media only screen and (max-width: 480px) {
    .contacto__caja {
      margin: 0px;
      border: 0px;
      background-image: none; } }
  .contacto__caja .contacto {
    margin-left: 30px;
    font-family: "Newsreader", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    line-height: 1.5;
    background-color: #22134a;
    width: 500px;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 7px 13px 37px #000; }
  .contacto__caja .boton {
    width: 100%;
    height: 45px;
    margin-top: 12px;
    border-radius: 10px;
    border-color: #ff3c00;
    color: #ffffff;
    text-transform: uppercase;
    background: linear-gradient(to left top, #c40000, #22134a);
    font-size: 20px; }
    .contacto__caja .boton:hover {
      cursor: pointer;
      transform: translateY(-3px);
      transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }
    .contacto__caja .boton:active {
      transform: translateY(10px); }
  .contacto__caja .control {
    width: 95%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #ff3c00;
    font-family: "Newsreader", serif;
    font-size: 18px; }
    .contacto__caja .control:focus {
      height: 40px; }
