.clasesYoutube{
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 5px;
    @media only screen and (max-width: 480px) {
        margin: 5px 0;
		width: 100%;
    } 
}

.clasesYoutube__ultimasClases{
	font-family: 'Newsreader', serif;
	color: black;
	font-size: 18px;
	font-weight: bold;
	background-image: url("../images/ciencia.jpg");
	text-align: left; 
    @media only screen and (max-width: 480px) {
        font-size: 0.7em;
    }
}

.clasesYoutube__videoYoutube iframe{
	text-align: center;
    @media only screen and (max-width: 480px) {
        width: 100% !important;
        height: 350px !important;
    }
}
