$raz: #22134a;
$dva: #c40000;
$tri: #ff3c00;
$colorFondo: #ffffff;
$fontOne: 'Newsreader', serif;
$fontTwo: 'Goblin One', serif;
$weight:('light':300,'regular':400, 'bold':700);
$size:('sm':1.2em,'md':16px,'lg':40px,'xl':26px);